@media print {

    /* hide */
    audio {
        display: none !important;
        visibility: hidden !important;
    }
    #player{
        display: none !important;
        visibility: hidden !important;
    }
    .noPrint {
        display: none !important;
        visibility: hidden !important;
    }
    img {
        display: none !important;
        visibility: hidden !important;
    
    }
    /* show */
    .show {
        display: block !important;
        visibility: visible !important;
        
    }
    .show h1 {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    /* print links */
    a[href]::after {
        content: " Link " attr( href )
    }
    
    /* paper sizing */
    @page {
        margin: 1in;
    }

}

