@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Spray+Paint&family=Slackey&display=swap');
/* CSS Variables */
:root {
    --color1: #222222;
    --color2: #930505;
    --color3: #ed0000;
    --color4: #494946;
    --color5: #feffc4;
    /* main UI color */
    --plyr-color-main: var(--color2);
    /* audio controls background */
    --plyr-video-controls-background: var(--color1);
    /* audio controls color */
    --plyr-video-control-color: var(--color3);

}

body {
    background: var(--color1);
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 80%;
    margin-inline: auto;
    border: solid 0.25em var(--color5);
    background: var(--color4);
    color: var(--color3);
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 0.05em;
    /* display: flex;
    flex-direction: column; */
}
main h1 {
    letter-spacing: 0.2em;
    margin: 0.5em;
}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
}

main section {
    margin: 0.5em
}

/* Primary Content */
article {
    /* flow content horizontally */
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

span img {
    width: 15%;
}

article div {
    width: 100%;
}
article section,
article aside {
    /* flex'd children same side  */
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.cast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

}
.cast h2 {
    width: 100%;
    text-align: center;
}


/* Aside */
a {
    background-color: var(--color2);
    padding: 0.25em;
    border-radius: 0.5em;
}

/* Footer */
footer {
    text-align: center;
}

.titleHeader {
    display: flex;
    justify-content: center;
}

.titleHeader h1 {
    display: none;
}

.gloves {
    overflow: hidden;
}

#usaGlove {
    animation: punchLeftRight 2s infinite;
    animation-delay: 1s; 
}
#ussrGlove {
    animation: punchRightLeft 2s infinite;
    animation-delay: 1s; 
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}


@keyframes punchLeftRight {
    0% { transform: translateX(0); }
    90% { transform: translateX(-40%); }
    100% { transform: translateX(0); }
}
@keyframes punchRightLeft {
    0% { transform: translateX(0); }
    90% { transform: translateX(40%); }
    100% { transform: translateX(0); }
    
}